<div class="container">
<div class="d-inline-flex mt-2" style="margin-left: 1280px;">
  <i class="btn btn-success"  (click)="clickAddlivros()" type="submit" class="fas fa-plus-circle" style="font-size: 38px;color: blue; margin: 90px 30px 10px 0px;" data-bs-toggle="modal" data-bs-target="#addLivro"></i>
</div>
<div class="row">
  <div class="col">
    <app-filters></app-filters>
  </div>
  <div class="col-md-10">
    <app-product-list></app-product-list>
  </div>
</div>
<app-modal></app-modal>
</div>
